.table_detail {
    margin-bottom: 10px;
}

.table_po_td_label {
    width: 5%;
    vertical-align: top;
}

.table_po_td_data {
    width: 25%;
    vertical-align: top;
}

.table_po_semi {
    width: 1%;
    vertical-align: top;
}

.data_width {
    width: 60%;
}

.small_data_width {
    width: 70%;
}

.innertable_width_hundred {
    width: 100%;
}

.innertable_width_thirty {
    width: 50%;
}

.innertable_width_seventy {
    width: 50%;
}

.all_label {
    /*padding-left: 5%;*/
}

.innertable {
    width: 100%;
}

    .innertable tr > td:first-child {
        width: 50%;
        vertical-align: top;
    }

    .innertable tr > td:nth-child(2) {
        width: 50%;
    }

.grid_style {
    overflow-x: auto;
    width: inherit;
}
