.grid {
    width: inherit;
    overflow-x: auto;
}

.edit_table {
    width: 100%;
}

    .edit_table tr td {
        padding-bottom: 5px;
        padding-left: 5px;
        vertical-align: top;
    }

        .edit_table tr td:first-child {
            width: 10%;
        }

        .edit_table tr td:nth-child(2) {
            width: 40%;
        }

    .edit_table tr:last-child td {
        vertical-align: middle;
    }

.delete_table {
    width: 100%;
}

    .delete_table tr:last-child td {
        text-align: right;
    }
