body {
    margin: 0;
    padding: 0;
    background-color: rgb(230,239,247);
    background: url('../images/hijosign.png');
    background-repeat: repeat;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Open Sans';
    overflow: hidden;
    background-color: rgb(230,239,247);
}

    body label {
        color: white;
        font-size: 12px;
        /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        font-family: 'Open Sans';
    }

.Header-td {
    text-align: center;
    background: url('../images/HeaderTitle.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

    .Header-td h1 {
        width: 100%;
        text-align: center;
        /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
        font-family: 'Open Sans';
        font-size: 30px;
        font-weight: bold;
        color: #d9cece;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

@font-face {
    font-family: 'Open Sans';
    src: url('../font/opensans/OpenSans-Regular.ttf');
}
.ContentWrapper {
    width: 1360px;
    height:450px;
    padding: 5px;
    background-color: rgb(230,239,247);
    -moz-box-shadow: 1px 1px 3px 2px #87cefa;
    -webkit-box-shadow: 1px 1px 3px 2px #87cefa;
    box-shadow: 1px 1px 3px 2px #87cefa;
    overflow-x: auto;
    overflow-y:auto;
}

#dvHeader {
    width: 100%;
    font-family: 'Open Sans';
    padding: 0px;
}
    #dvHeader h1 {
        margin: 5px auto 5px;
        width: 100%;
        text-align: center;
        font-size: medium;
        font-weight: bold;
        color: black;
    }

    #dvHeader table {
        width: 98%;
        padding: 25px;
        margin: 5px 10px 10px 10px;
    }

    #dvHeader td {
        padding: 0px 5px;
    }

#tblChangePW {
    margin: auto;
}

    #tblChangePW td {
        padding: 2px;
    }


.modalBackground {
    background-color: gray;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopupLoading {
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
}