body {
    margin: 0;
    padding: 0;
    /*background: url('../images/HIJOState.jpg') center;*/
    /*background: url('../images/hijosign.png') center;*/
    /*background-repeat: repeat;*/
    background-position: left top;
    font-family: sans-serif;
    background-color: rgb(230,239,247);
}

.login-box {
    width: 320px;
    height: 420px;
    /*background: rgba(0,0,90, 1);*/
    background: #0b1a3e;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

    .login-box input[type="text"], input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .login-box input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        /*background: #1c8adb;*/
        /*background: #39dc79;*/
        background: #174d14;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }

        .login-box input[type="submit"]:hover {
            cursor: pointer;
            /*background: #39dc79;*/
            background: white;
            color: #000;
            /*background-color: green;*/
            /*color: #000;*/
            /*box-shadow: 0 0 8px 0 dodgerBlue;*/
        }

.login-box a {
    text-decoration: none;
    font-size: 14px;
    /*color: #1c8adb;*/
    /*color: #39dc79;*/
    color: #174d14;
    cursor: pointer;
}

    .login-box a:hover {
        /*color: #39dc79;*/
        color: white;
        cursor: pointer;
    }

input[type="text"], input[type="password"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

    input[type="text"]:focus, input[type="password"]:focus {
        border-color: greenyellow;
        box-shadow: 0 0 8px 0 greenyellow;
        /*border-color: dodgerBlue;*/
        /*box-shadow: 0 0 8px 0 dodgerBlue;*/
    }


.text-danger {
    color: #a94442;
}

.create-account-box {
    min-width: 320px;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

    .create-account-box p {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    /*.create-account-box label {
        color: #4fa3d0;
    }*/

    .create-account-box input {
        width: 100%;
        margin-bottom: 0px;
    }

        .create-account-box input[type="text"], input[type="password"], input[type="email"] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }

        .create-account-box input[type="submit"] {
            border: none;
            outline: none;
            height: 40px;
            background: #1c8adb;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }

            .create-account-box input[type="submit"]:hover {
                cursor: pointer;
                background: #39dc79;
                color: #000;
            }

    .create-account-box a {
        text-decoration: none;
        font-size: 14px;
        color: #fff;
    }

        .create-account-box a:hover {
            color: #39dc79;
        }

.mydropdownlist1 {
    /*font-size: 20px;*/
    padding: 5px 10px;
    border-radius: 5px 12px;
    background-color: #292929;
    /*font-weight: bold;*/
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    /*color: #5486CC;*/
    color: #fff;
    font-size: 16px;
}
